net.ipv4.tcp_syncookies = {{ tcp_syncookies }}
net.ipv4.ip_forward = {{ ip_forward }}

net.ipv4.conf.all.accept_source_route = {{ accept_source_route }}
net.ipv4.conf.all.accept_redirects = {{ accept_redirects }}
net.ipv4.conf.all.secure_redirects = {{ secure_redirects }}
net.ipv4.conf.all.log_martians = {{ log_martians }} # Useful for martians packets (weird IPs, etc)
kernel.randomize_va_space = {{ randomize_va_space }}
